
body {
  text-align: center;
  background-color: #EFEFEF;
}

p {
  font-size: 2rem;
  margin: 3rem 0;
}

h1, h5 {
  font-size: 3rem;
  font-weight: bold;
}

.nav-link {
color: #fff;
}

.nav {
  font-size: 1.5rem;
}

.nav, .navbar-brand {
  color: #fff;
}

.navbar-brand {
  font-size: 2rem;
  margin-right: 35rem;
  padding: 2rem;
}

/* .navbar-toggler-icon {
  margin: 0 2rem;
  font-size: 3rem;
} */

.intro {
  border: 1px white solid;
  border-radius: 50px 20px;
  color: #fff;
  margin: 5rem 5rem;
  padding: 1.5rem 0;
}


.card {
  color: #002B5B;
  font-size: 3rem;
}

.card-title {
  color: #002B5B;
}

#header{
  background-image: url('images/Schoolgirl screenshot.png');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
}

#mission, #testimonials, #activities, #footer {
  background-color: #9CB4CC;
  color: #fff;
  margin: 3rem 0;
  padding: 3rem 0;
}

#location, #gallery {
  margin: 7rem 0;
}

@media screen and (max-width: 1000px) {

  .nav-link {
  color: #222831;
  font-size: 2rem;
  }

.offcnvs-btn, .nav {
  color: #fff;
}

  .intro {
    margin: 25rem 5rem;
  }

  .navbar-brand {
    font-size: 3rem;
    margin: 2rem;
  }

  .nav {
    color: #222831;
    font-size: 2rem;
    margin: 2.5rem;
  }

  .btn {
    font-size: 2.5rem;
  }
}
